.second {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1d1d1d;
}

.wrapper {
    margin-top: 200px;
    width: 1132px;
    height: 174px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 150px;
}

.textWrapper1 {
    width: 387px;
    height: 174px;
}

.text1 {
    font-size: 54px !important;
    font-weight: 600 !important;
    line-height: 87px;
    letter-spacing: 0em;
    color: white;

}

.text2 {
    color: white;
    font-size: 32px !important;
    font-weight: 600 !important;
    line-height: 52px;
    letter-spacing: 0em;

}

.textWrapper3 {
    width: 475px;
    height: 87px;
    color: #585858;
}

.line {
    width: 1px;
    height: 100%;
    border: 1px;
    background-color: #6A6A6A;
}