.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: var(--color-black);

}

.items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-weight: 600;
    width: 431px;
    height: 100px;
}

.btn {
    width: 172px;
    height: 40px;
    color: white !important;
    border-color: white !important;
}

.btn:hover{
    border-color: white !important;
}