.wrapper {
    display: flex;
    justify-content: center;
}

.cardWrapper {
    margin-top: 75px;
    width: 1156px;
    height: 500px;
    /* background-color: red; */
    border-radius: 14px;
}

.headWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 77px;
    color: white;
    font-size: 54px;
    font-weight: 600;
    line-height: 77px;
    letter-spacing: 0em;
}

.innerCardWrapper {
    width: 209px;
    height: 68px;
    display: flex;
}

.contentWrapper{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 15px;
}